<nav class="pt-35 pb-35">
    <div class="container px-xl-0">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <a href="/"
                   class="main-logo link img_link mt-15"
                   data-aos="fade-down"
                   data-aos-delay="500">
                    <img src="/uploads/dehub-type-logo.svg"
                         alt="Logo"
                         class="w-200">
                </a>
                <div class="page-indicator text-uppercase bold mt-5"
                     data-aos="fade-down"
                     data-aos-delay="200">
                    <span class="pt-5">

                    </span>
                </div>
            </div>
            <div class="col-lg-9 justify-content-end align-items-center f-18 medium"
                 data-aos="fade-down"
                 data-aos-delay="500">
                <div class="d-block float-right mx-10 mb-10">
                    <social-bar></social-bar>
                    <!-- ---------------------- Connect with wallet start ---------------------- -->
                    <div class="connect-wallet-widget d-inline-block">
                        <a href="#"
                           class="connect-wallet btn action-2 sm ml-20">
                            <i class="fad fa-wallet"></i>
                            &nbsp;
                            <span>Connect Wallet</span>
                        </a>
                        <div class="connected-wallet btn-group ml-20 d-none"
                             role="group"
                             aria-label="Wallet Authentication">
                            <button type="button"
                                    class="address-bar btn action-2 sm">
                                <img class="w-30 pr-10 pb-10"
                                     src="/uploads/metamask.svg">
                                <span class="label">Loading...</span>
                            </button>
                            <button type="button"
                                    class="logout btn action-2 op-6 sm">
                                <i class="fad fa-sign-out"></i>
                            </button>
                        </div>
                    </div>
                    <!-- ----------------------- Connect with wallet end ----------------------- -->
                </div>
                <!-- ----------------------- Connect with wallet end ----------------------- -->
                <div class="w-full d-flex justify-content-end">
                    <a href="/#features"
                       class="nav-item link color-main mx-15">
                        Features
                    </a>
                    <a href="/#dehub"
                       class="nav-item link color-main mx-15">
                        $DEHUB
                    </a>
                    <a href="/#partners"
                       class="nav-item link color-main mx-15">
                        Partners
                    </a>
                    <div id="nav-dropdown"
                         class="nav-item dropdown">
                        <a class="link color-main mx-15 dropdown-toggle"
                           href="#"
                           id="buyDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            Buy
                        </a>
                        <div class="dropdown-menu bg-gray-1 pt-20 pb-20 mt-10 radius4"
                             aria-labelledby="buyDropdown">
                            <a href="https://pancakeswap.finance/swap?outputCurrency=0xFC206f429d55c71cb7294EfF40c6ADb20dC21508"
                               target="_blank"
                               class="dropdown-item btn glass-1 mb-10 text-left">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span class="nonEmpty">Pancakeswap</span>
                            </a>
                            <a href="https://www.xt.com/tradePro/dehub_usdt"
                               target="_blank"
                               class="dropdown-item btn glass-1 mb-10 text-left">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span class="nonEmpty">XT.COM</span>
                            </a>
                            <a href="https://www.gate.io/trade/DEHUB_USDT"
                               target="_blank"
                               class="dropdown-item btn glass-1 mb-10 text-left">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span class="nonEmpty">Gate.io</span>
                            </a>
                        </div>
                    </div>
                    <a href="/#team"
                       class="nav-item link color-main mx-15">
                        Team
                    </a>
                    <a href="https://bscscan.com/token/0xFC206f429d55c71cb7294EfF40c6ADb20dC21508"
                       target="_blank"
                       class="nav-item link color-main mx-15">
                        Contract
                    </a>
                    <div id="nav-dropdown"
                         class="nav-item dropdown">
                        <a class="link color-main mx-15 dropdown-toggle"
                           href="#"
                           id="dAppsDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            dApps
                        </a>
                        <div class="dropdown-menu bg-gray-1 pt-20 pb-20 mt-10 radius4"
                             aria-labelledby="dAppsDropdown">
                            <a href="/claim"
                               target="_blank"
                               class="dropdown-item btn glass-1 mb-10 text-left claim">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fad fa-gift color-main"></i>
                                &nbsp;
                                <span class="nonEmpty">Claim BNB Rewards</span>
                            </a>
                            <a href="/ppv"
                               class="dropdown-item btn glass-1 mb-10 text-left">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fad fa-play color-main"></i>
                                &nbsp;
                                <span class="nonEmpty">DeStream</span></a>
                            <a href="/tournaments"
                               class="dropdown-item btn glass-1 mb-10 text-left">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fad fa-trophy-alt color-main"></i>
                                &nbsp;
                                <span class="nonEmpty">DeGame</span></a>
                            <a href="#"
                               class="dropdown-item btn glass-1 mb-10 text-left comingSoon">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fad fa-shopping-cart"></i>
                                &nbsp;
                                <span class="nonEmpty">DeBrowse</span></a>
                            <a href="#"
                               class="dropdown-item btn glass-1 mb-10 text-left comingSoon">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fas fa-coins color-main"></i>
                                &nbsp;
                                <span class="nonEmpty">DePay</span></a>
                        </div>
                    </div>
                    <!-- <a href="/streams/mazer"
						class="nav-item badge badge-info mx-15 d-inline-flex align-items-center pt-0 px-10">
						<i class="far fa-webcam"></i>&nbsp;
						Livestream
					</a> -->
                    <a href="/careers"
                       class="nav-item badge badge-danger mx-15 d-inline-flex align-items-center pt-0 px-10">
                        <i class="fas fa-bullhorn"></i>&nbsp;
                        We're hiring!
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- <div class="header-big-title text-center container px-xl-0">
	<div class="row justify-content-center">
		<div class="col-lg-8"
			data-aos="zoom-in"
			data-aos-delay="0">
			<div class="mb-3 text-center d-xl-none">
				<a href="/"
					class="link img_link">
					<img src="/uploads/dehub-type-logo.svg"
						alt="Logo"
						class="mw-110">
				</a>
			</div>
			<h1>
			</h1>
		</div>
		<div class="col-lg-10"
			data-aos="zoom-in"
			data-aos-delay="250">
			<img src="/uploads/dehub-icon-logo.svg"
				alt=""
				class="mx-auto mw-90 mt-40 mb-50">
		</div>
	</div>
	<div class="row f-18 color-heading medium">
		<div class="mt-30 col-lg-4 f-18 pt-10 pb-10 text-adaptive block"
			data-aos="zoom-in"
			data-aos-delay="0">
			<div class="mx-auto mw-320"
				data-aos="zoom-in"
				data-aos-delay="500">
				DECENTRALISED
			</div>
		</div>
		<div class="mt-30 col-lg-4 f-18 pt-10 pb-10 text-adaptive block block_with_border"
			data-aos="zoom-in"
			data-aos-delay="250">
			<div class="mx-auto mw-320"
				data-aos="zoom-in"
				data-aos-delay="1000">
				LIFESTYLE
			</div>
		</div>
		<div class="mt-30 col-lg-4 f-18 pt-10 pb-10 text-adaptive block"
			data-aos="zoom-in"
			data-aos-delay="500">
			<div class="mx-auto mw-320"
				data-aos="zoom-in"
				data-aos-delay="1500">
				HUB
			</div>
		</div>
	</div>
</div> -->

<div class="header-big-title text-left container px-xl-0">
    <div class="row justify-content-start">
        <div class="col-8 display-2 mt-40">
            <div class="pb-10">Decentralized</div>
            <div id="animate-title"
                 class="pb-10">Lifestyle</div>
            <div>Hub</div>
        </div>
    </div>
</div>

<div class="header-small-title container d-block d-xl-none text-center">
    <a href="/"
       class="link img_link mt-15">
        <img src="/uploads/dehub-type-logo.svg"
             alt="Logo"
             class="w-200"
             data-aos="fade-down"
             data-aos-delay="500">
    </a>
    <div class="block pt-15 f-20"
         data-aos="fade-in"
         data-aos-delay="700">
        The Decentralised Entertainment Hub
        <div class="page-indicator text-uppercase bold mt-15 pt-10"
             data-aos="fade-down"
             data-aos-delay="200">
            <span class="pt-5">

            </span>
        </div>
    </div>
</div>
