.solid-2px-border {
	border: 2px solid $action_2;
}

.solid-4px-border {
	border: 4px solid $action_2;
	&.main {
		border-color: $color_main;
	}
}

.t-2 {
	position: relative;
	top: 2px;
}

.t-4 {
	position: relative;
	top: 4px;
}

.t-6 {
	position: relative;
	top: 6px;
}
