// So you're wondering why you found this class...
// Just use it to avoid things like: span:not([class]) affecting your elements
.nonEmpty {
}

.t-2 {
	position: relative;
	top: 2px;
}

.t-4 {
	position: relative;
	top: 4px;
}

.t-6 {
	position: relative;
	top: 6px;
}
