.modal-content {
	background-color: transparent;
	background-image: $gradient_2;
	.modal-header {
		border-color: $color_border_translucent_1;
		.close {
			color: $color_white;
			text-shadow: none;
			opacity: 0.8;
		}
	}
	.modal-footer {
		border-color: $color_border_translucent_1;
	}
}

.modal-backdrop.show {
	opacity: 0.7;
	backdrop-filter: grayscale(1);
	-webkit-backdrop-filter: grayscale(1);
}
