<a href="https://twitter.com/dehub_official"
	target="_blank"
	class="link color-main mx-5">
	<i class="fab fa-twitter"></i>
</a>
<a href="https://www.instagram.com/dehub_official/"
	target="_blank"
	class="link color-main mx-5">
	<i class="fab fa-instagram"></i>
</a>
<a href="https://t.me/Dehubofficial"
	target="_blank"
	class="link color-main mx-5">
	<i class="fab fa-telegram-plane"></i>
</a>
<a href="https://discord.gg/bSagyPYG"
	target="_blank"
	class="link color-main mx-5">
	<i class="fab fa-discord"></i>
</a>
<a href="https://medium.com/@dehub.bsc"
	target="_blank"
	class="link color-main mx-5">
	<i class="fab fa-medium-m"></i>
</a>
<a href="https://github.com/DeHubToken/dehub-public-contract"
	target="_blank"
	class="link color-main mx-5">
	<i class="fab fa-github"></i>
</a>
<a href="https://www.linkedin.com/company/79906765/"
	target="_blank"
	class="link color-main mx-5">
	<i class="fab fa-linkedin"></i>
</a>
<!-- <a href="#"
	class="link color-main fab fa-reddit-alien mx-5">
</a> -->