#ppv-nft-slider.embla {
	overflow: hidden;
}
#ppv-nft-slider .embla__container {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 24%; /* Each slide covers 80% of the viewport */
	grid-column-gap: 20px;
}
#ppv-nft-slider .embla__prev,
#ppv-nft-slider .embla__next {
	margin: 10px 0;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 2px;
}
/* #ppv-nft-slider .embla__slide {
	position: relative;
	flex: 0 0 33.3333%;
} */

img {
	filter: drop-shadow(-4px -4px 1px rgba(0, 0, 0, 0.2));
}

@media (max-width: 767.98px) {
	#ppv-nft-slider .embla__container {
		grid-auto-columns: 100%;
		grid-column-gap: 20px;
	}
}

@media (max-width: 575.98px) {
	#ppv-nft-slider .embla__container {
		grid-auto-columns: 100%;
		grid-column-gap: 20px;
	}
}

@media (min-width: 768px) {
	#ppv-nft-slider .embla__container {
		grid-auto-columns: 48.5%;
		grid-column-gap: 20px;
	}
}

@media (min-width: 992px) {
	#ppv-nft-slider .embla__container {
		grid-auto-columns: 24%;
		grid-column-gap: 20px;
	}
}
