<link href="/ppv/components/ppv-video/style.css"
	rel="stylesheet" />
<h2 class="small pb-60">
	Powered by DeHub
</h2>
<div id="video"
	class="embed-responsive embed-responsive-16by9">
	<button class="btn unmute glass-2 shadow mb-10 btn-block w-200 m-auto">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span class="nonEmpty">
			<i class="fad fa-volume-up"></i>
			&nbsp;Unmute
		</span>
	</button>
	<iframe id="vimeo-video"
		lass="embed-responsive-item"
		src="https://player.vimeo.com/video/637842767?h=403585c7ef"
		frameborder="0"
		allow="autoplay; fullscreen"
		allowfullscreen></iframe>
</div>