<div class="card bg-transparent bg-gradient-2 radius10 border-0"
	data-aos="fade-up">
	<img src="../uploads/placeholder-1920x1080.jpg"
		class="card-img-top"
		alt="Latest Pay-Per-View Cover Image">
	<div class="card-body">
		<h4 class="card-title text-uppercase mb-5">
			...
		</h4>
		<span class="date-container d-none float-left w-full mb-5">
			<i class="fal fa-calendar-alt f-20 pr-5 pt-5"></i>&nbsp;<span class="date text-monospace small f-12 bold">...</span>
		</span>
		<span class="countdown-container d-none float-left w-full mb-10">
			<i class="fal fa-clock f-20 pr-5 pt-5"></i>&nbsp;<span class="countdown text-monospace small f-12 bold">...</span>
		</span>
		<span class="badge badge-pill badge-warning d-none float-left mb-20 mt-10"></span>
		<div class="d-block float-left">
		</div>
		<div class="card-text description-first-p d-block float-left"></div>
		<div class="collapse float-left"
			id="collapseDescription">
			<div class="card-text description-rest d-block float-left"></div>
		</div>
	</div>
	<div class="card-footer text-left">
		<a href="#"
			class="ppv-cta btn glass-1 shadow mb-10 text-left disabled d-none">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<i class="fal fa-pen"></i>
			&nbsp;
			<span class="nonEmpty">...</span>
		</a>
	</div>
</div>