<div class="container px-xl-0">
	<div class="row justify-content-center">
		<div class="col-12 lh-40">
			<!-- <a href="https://twitter.com/dehub_official"
				class="link color-main mx-5">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="https://www.instagram.com/dehub_official/"
				class="link color-main mx-5">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://t.me/Dehubofficial"
				class="link color-main mx-5">
				<i class="fab fa-telegram-plane"></i>
			</a>
			<a href="https://medium.com/@dehub.bsc"
				target="_blank"
				class="link color-main mx-5">
				<i class="fab fa-medium-m"></i>
			</a>
			<a href="https://github.com/DeHubToken/dehub-public-contract"
				target="_blank"
				class="link color-main mx-5">
				<i class="fab fa-github"></i>
			</a> -->
			<social-bar></social-bar>
		</div>
		<div class="mt-20 col-12">
			<div class="color-heading text-adaptive">
				<div>© 2021 DeHub.</div>
				<span class="disclaimer-link">
					<a href="#"
						class="link color-white small"
						data-toggle="modal"
						data-target="#disclaimerModal">
						Disclaimer
					</a>
					&nbsp;|&nbsp;
				</span>
				<a href="/privacy-policy"
					target="_blank"
					class="link color-white small">
					Privacy Policy
				</a>
				&nbsp;|&nbsp;
				<a href="/terms"
					target="_blank"
					class="link color-white small">
					Terms & Conditions
				</a>
				&nbsp;|&nbsp;
				<a href="/careers"
					target="_blank"
					class="link color-white small">
					Careers
				</a>
			</div>
		</div>
	</div>
</div>