<div id="disclaimerModal"
	class="modal fade"
	tabindex="-1"
	aria-labelledby="disclaimerModal"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"
					id="disclaimerModalLabel">Disclaimer</h5>
			</div>
			<div class="modal-body">
				<p class="small">
					Neither DeHub, the team, nor this website under any circumstances
					provide financial guidance nor advice of any nature.
					Always do your own research prior to purchasing any digital assets or commodities.
					<br><br>
					Any form of DeHub token sale is for the purpose of generating liquidity
					to enable traders to buy and sell tokens. All presales and private sales have
					been open to members of our communities and our public sales are barrier-free.
					<br><br>
					All pre-mined tokens are technically already “burnt”, and the ecosystem is designed to
					be self-sufficient and empowering to its users; it thereby does not rely on a central
					point of control or business operation. DeHub tokens hold no monetary value, nor do
					they serve as any form of investment vehicle.
					<br><br>
					You are not here to fly to the moon; you are here to change the earth.
					By purchasing DeHub tokens you acquire a piece of a decentralised network that
					will forever operate on multiple blockchains that serve as utility and governance tokens.
					<br>
					These allow you to vote on renewals, cancellations and funding of original productions,
					and licensed motion pictures. In addition, they grant voting rights to users on the results
					of certain sporting events such as MMA and Boxing bouts hosted by the platform.
					<br><br>
					Furthermore, token holders will be able to review content, vote in awards for creators and artists,
					access games, and wager bets and much more. There are no guarantees of the value of the
					tokens and the team are not, and will never be, liable for any losses incurred by any
					buying or selling of tokens.
					<br><br>
					You must understand what you are doing in the new digital world of finance and every step
					you take is taken at your own risk with trust in your own judgment and actions.
					<br><br>
					DeHub tokens are backed by the liquidity we, the community provide therefore the price action
					is solely dependent on the supply and demand of the DeHub tokens (elasticity) on any given day.
					<br><br>
					Any mentions of price speculation by any members of the community or team should be deemed as
					purely commentary on day-to-day financial affairs.
					<br><br>
					DeHub tokens will be very elastic in price given the nature of our economy, so if these
					terms confuse you or you are unsure of whether you understand what you are reading,
					we advise you to take your time to re-read the website fully and contact a member
					of the team for assistance.
					<br><br>
					Although DeHub is operating as a decentralised autonomous organisation (DAO) with no official
					headquarters or central office, our community leaders are registering in every single country
					we start to expand in laying down official ground teams via a decentralised network of token
					holders ensuring maximum transparency for stakeholders and motivation for workers.
					<br><br>
					Southeast Asia, Africa and the Middle East are our main areas of operation however we aim
					to have a DeHub in every major city across the world by the 2040s.
					<br><br>
					<strong>
						DeHub will never ask for your keys or hold your funds. Not your keys not your crypto.
					</strong>
					<br><br>
					Citizens of the USA or any other country or jurisdiction without clear regulation
					regarding token sales are advised to contact their local government or council
					offices for advice before partaking in any digital token sales or trading.
				</p>
			</div>
			<div class="modal-footer connect-help">
				<div class="small d-block">Click to confirm you understand</div>
				<a id="disclaimerModalConfirm"
					href="#"
					class="btn glass-1 shadow mb-10 btn-block">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span class="nonEmpty">I understand</span>
				</a>
			</div>
		</div>
	</div>
</div>