<div id="disclaimerModal"
	class="modal fade"
	tabindex="-1"
	aria-labelledby="disclaimerModal"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"
					id="disclaimerModalLabel">Legal Disclaimer</h5>
			</div>
			<div class="modal-body">
				<p class="small text-monospace">
					Effective: July 15, 2021 <br>
					Last Updated: July 15, 2021
				</p>
				<p class="small">
					All information provided directly or indirectly by the DeHub team, community or
					affiliates is for general information purposes or promotions only. It does not
					constitute investment or financial advice, recommendations or any form of
					solicitation. Any information provided is at all times subject to change by the
					sole discretion of DeHub Group and should this occur, all users will be notified
					by our social channels.
					There is no presale or premine of the DeHub Tokens. <br>
					At no point will DeHub use promotional materials to solicit investment in DeHub.
					DeHub holders shall not exchange any fiat, cryptocurrency, any form of value,
					or any other financial instrument for DeHub with DeHub. <br>
					Through the development of DeHub, we do not grant any rights, express or
					implied, other than the right to use DeHub on the DeHub Platform or within the
					DAO. In particular, DeHub expressly denies any ability of the DeHub token to
					represent or confer any ownership right or stake, share, security, or equivalent
					rights, or any right to receive future revenue shares, intellectual property rights
					or any other form of participation in or relating to any DeHub product and/or
					DeHub and/or any of its corporate affiliates. DeHub created the DeHub tokens
					as decentralised smart contracts, and in no way are meant to be a security,
					commodity or any kind of financial instrument.
					<br><br>
					DeHub reserves the right to reject any usage of DeHub tokens on the DeHub
					Platform. DeHub rejects any responsibility for any direct or consequential loss
					or damage of any kind whatsoever arising directly or indirectly from: (i) reliance
					on any information provided, (ii) any error, omission or inaccuracy in any such
					information; or (iii) any action resulting from such information.
					<br><br>
					To the fullest extent permitted by applicable law and except as otherwise
					specified in writing by DeHub: (i) DeHub tokens are airdropped on an “as is”
					and “as available” basis without warranties of any kind, and DeHub expressly
					disclaims all implied warranties as to the DeHub tokens, including, without
					limitation, implied warranties of merchantability, fitness for a particular
					purpose, title and non-infringement; (ii) DeHub does not represent or warrant
					that the DeHub tokens are reliable, current or error-free, or that technical
					defects in the DeHub tokens will be corrected; and (iii) DeHub cannot and does
					not represent or warrant that the DeHub tokens or the delivery mechanism for
					DeHub tokens are free of viruses or other harmful components.
					<br><br>
					No terms in this website, or any other DeHub documentation or information
					constitute a prospectus, an offer document of any sort, or are intended to
					constitute an offer of securities, or a solicitation for investment in securities in
					any jurisdiction. If you decide to participate and receive DeHub tokens, please
					note that any DeHub platform contribution and/or participation does not
					represent, constitute or involve the exchange of value for any form of
					securities, investment units and/or form of ordinary shares in any project, in any
					platform, in DeHub, or any other related company.
					<br><br>
					This website, and the Website, in any part thereof and any copy thereof must
					not be transmitted to any country where distribution or dissemination of these
					documents and its information is prohibited or restricted. No regulatory
					authority has examined or approved to this date of any of the information set
					out in this document. The publication, distribution or dissemination of these
					terms do not imply that the applicable laws, regulatory requirements or rules
					have been complied with.
					<br><br>
					To the fullest extent permitted by the applicable laws, regulations and rules,
					DeHub, its founders, team members and any third party involved in the project
					shall not be liable for any direct, indirect, special, incidental, consequential or
					other losses of any kind, in tort, contract or otherwise (including but not limited
					to loss of revenue, income or profits, and loss of use or data), arising out of or
					in connection with any acceptance of or reliance on the information in this
					website, or any part thereof and/or information provided on the DeHub web
					page.
					<br><br>
					To the fullest extent permitted by applicable law: (i) in no event will DeHub or
					any of the company parties be liable for any indirect, special, incidental,
					consequential, or exemplary damages of any kind (including, but not limited to,
					where related to loss of revenue, income or profits, loss of use or data, or
					damages for business interruption) arising out of or in any way related to the
					distribution or use of DeHub, regardless of the form of action, whether based in
					contract, tort (including, but not limited to, simple negligence, whether active,
					passive or imputed), or any other legal or equitable theory (even if the party
					has been advised of the possibility of such damages and regardless of whether
					such damages were foreseeable); and (ii) in no event will the aggregate liability
					of DeHub and affiliate parties (jointly), whether in contract, warranty, tort
					(including negligence, whether active, passive or imputed), or other theory,
					arising out of or relating to DeHub or the use of or inability to use DeHub.
					<br><br>
					All statements on this website or originating from any connection to the DeHub
					entity on social mediums or those made in press releases or in any place
					accessible by the public both verbally, orally or written from its founders, team
					members or any third party acting on behalf of DeHub or statements of
					historical fact constitute “forward-looking statements”. No information provided
					should be considered to be business, legal, financial or advice regarding
					contribution or participation to the development of the DeHub network and any
					of its projects. DeHub does not make or intends to make, and hereby disclaims,
					any representation, warranty or undertaking in any form whatsoever to any
					entity or person, including any representation, warranty or undertaking in
					relation to the truth, accuracy, and completeness of any of the information set
					out on our website.
					<br><br>
					All DeHub recipients are responsible for implementing reasonable measures for
					securing their own wallet, vault or other storage mechanism used to receive
					and hold DeHub tokens, including any requisite private key(s) or other
					credentials necessary to access such storage mechanism(s). If any private
					key(s) or other access credentials are lost, the holder may lose access to their
					DeHub Tokens. DeHub is not responsible for any losses, costs or expenses
					relating to lost access credentials. DeHub shall have no obligations in any form
					or whatsoever to you in respect of DeHub tokens. It is the token holder’s entire
					responsibility to withhold, collect, report and remit the correct taxes to the
					appropriate tax authorities regarding any received DeHub tokens. DeHub will
					never hold custody of funds or your seed phrase nor would we or anybody
					associated to DeHub ever ask you for this information under any circumstance.
				</p>
			</div>
			<div class="modal-footer connect-help">
				<div class="small d-block">Click to confirm you understand</div>
				<a id="disclaimerModalConfirm"
					href="#"
					class="btn glass-1 shadow mb-10 btn-block">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span class="nonEmpty">I understand</span>
				</a>
			</div>
		</div>
	</div>
</div>