<div class="card bg-transparent bg-gradient-2 radius10 border-0"
	data-aos="fade-up">
	<img src="../uploads/placeholder-1920x1080.jpg"
		class="card-img-top"
		alt="Latest Tournament Cover Image">
	<div class="card-body">
		<h4 class="card-title text-uppercase mb-5">
			...
		</h4>
		<span class="date-container d-block float-left w-full mb-5">
			<i class="fal fa-calendar-alt f-20 pr-5 pt-5"></i>&nbsp;<span class="date text-monospace small f-12 bold">...</span>
		</span>
		<span class="countdown-container d-block float-left w-full mb-10">
			<i class="fal fa-clock f-20 pr-5 pt-5"></i>&nbsp;<span class="countdown text-monospace small f-12 bold">...</span>
		</span>
		<span class="badge badge-pill badge-warning d-none float-left mb-20 mt-10"></span>
		<div class="d-block float-left">
		</div>
		<div class="collapse"
			id="collapseDescription">
			<div class="card-text description d-block float-left">

			</div>
		</div>
	</div>
	<div class="card-footer text-left">
		<a href="#collapseDescription"
			class="btn glass-2 mb-10 text-left mr-10"
			data-toggle="collapse"
			role="button"
			aria-expanded="false"
			aria-controls="collapseDescription">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<i class="fas fa-arrows-v"></i>
			&nbsp;
			<span class="nonEmpty">Read the Rules</span>
		</a>
		<a href="#"
			class="tournament-cta btn glass-1 shadow mb-10 text-left disabled">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<i class="fal fa-pen"></i>
			&nbsp;
			<span class="nonEmpty">...</span>
		</a>
	</div>
</div>